<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/Style.css" />
    <title>Cards</title>
  </head>
  <body>
    <div class="card flex flex_col content_items">
      <div class="hero_card flex">
        <div>
          <img
            src="../images/Personal2.png"
            class="img_hero"
            alt="Hero Image"
          />
        </div>
        <div class="flex flex_col hero_name">
          <h3>Oyindamola Maja</h3>
          <p>Badagry, Lagos</p>
        </div>
      </div>
      <blockquote class="Container">
        “Been stressing about a close centre to get the
        <span class="span_covid Container">covid-19</span> vaccine, until i
        tried Vaccination.ng”
      </blockquote>
    </div>
  </body>
</html>
