<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/Style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"
    />
    <title>Document</title>
  </head>
  <body>
<input type="text" name="name" placeholder="Full name" class="input" />    
    <input
      type="tel"
      id="phone"
      name="number"
      placeholder="Phone number"
      class="input"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="../JavaScript/JavaScript.JS"></script>
  </body>
</html>
